@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Nunito Sans';
    src: url('/assets/fonts/NunitoSans-Regular.woff2') format('woff2'),
      url('/assets/fonts/NunitoSans-Regular.woff') format('woff');
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito Sans';
    src: url('/assets/fonts/NunitoSans-Bold.woff2') format('woff2'),
      url('/assets/fonts/NunitoSans-Bold.woff') format('woff');
    font-style: normal;
  }

  body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F8F6F5;
  }

}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-on-hover:hover {
  animation: bounce 0.5s ease-in-out;
}