@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer base {
    body {
      background-color: #F8F6F5;
  }

}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-on-hover:hover {
  animation: bounce 0.5s ease-in-out;
}
